#artist_meta {
  background-color: rgb(252, 252, 252);
  padding: 1rem 1rem;
  box-shadow: 6px 5px 15px rgba(105, 105, 105, 0.315);
  margin-bottom: 3rem;
  img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  h3 {
    display: block;
    color: rgb(82, 82, 82);
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
    text-transform: capitalize;
  }
  #artist_followers {
    color: rgb(95, 95, 95);
    font-size: 1rem;
    font-weight: 600;
    margin: 0.3rem 0;
  }
  #follow {
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(105, 105, 105, 0.315);
    margin: 0.1rem 0;
    padding: 0.1rem 1rem;
    background-color: rgba(0, 41, 81, 0.788);
    font-size: 1rem;
    font-weight: 700;
    color: rgb(252, 252, 252);
    text-align: center;
  }
  #follow:hover {
    background-color: rgb(0, 41, 81);
  }
  .meta_text {
    margin-bottom: 0.25rem;
  }
}
.artist_page_headings {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(51, 51, 51);
  margin-bottom: 1.5rem;
}
