body {
  background: linear-gradient(125.42deg, #000000 0%, #001427 100%);
  min-height: 100vh;
  #logo {
    margin: 4rem auto 0 auto;
  }
  input {
    margin: 0.5rem 0;
    text-align: center;
  }
  .error-field {
    box-shadow: 0 0 8px#ff0000;
  }
  .btn-signin {
    background-color: white;
    color: black;
    font-weight: 500;
  }
  .form-control {
    border-radius: 5px;
  }
  .signup-prompt {
    text-align: center;
    color: white;
    font-weight: 500;
  }
  a:hover {
    text-decoration: none;
  }

.google_auth {
  margin: 0.2rem 0 0 0 ;
  background-color: white;
  border-radius: 15px;
  padding: 0.4rem 2rem;
  width: 100%;
}

}

.row {
  margin: auto;
}
