{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign Up</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/signup.css' %}"
      type="text/css"
    />
  </head>
  <body>
    <div class="modal fade" id="reg-complete" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header m-headfoot">
            <h5 class="modal-title" id="reg-complete-label">
              Sign Up Complete!
            </h5>
          </div>
          <div class="modal-body m-headfoot">
            Head back to the Sign In page
          </div>
          <div class="modal-footer m-headfoot">
            <button type="button" class="btn btn-dark btn-signup to-signin" >Sign In</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="reg-incomplete" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header m-headfoot">
            <h5 class="modal-title" id="reg-complete-label">
              Oops! Something went wrong
            </h5>
          </div>
          <div class="modal-body m-headfoot">
            Do you want to try again ?
          </div>
          <div class="modal-footer m-headfoot">
            <button type="button" class="btn btn-dark btn-signup" id="retry">
              Retry
            </button>
            <button type="button" class="btn btn-dark to-signin" >
              Sign In
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container signup">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-3">
          <form action='{% url "social:begin" "google-oauth2" %}'>
            <button type="submit" class="btn google_auth">
              Sign Up With <i class="fab fa-google"></i>
            </button>
          </form>
        </div>
      </div>
      <d class="row justify-content-center">
        <h3>OR</h3>
      </d>
      <form action="" method="post" id="signup-form" class="form-group">
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-3">
            {% csrf_token %} <input class="form-control" type="text"
            name="username" id="username" / placeholder="Username" required>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-3">
            <input class="form-control" type="email" name="email" id="email" /
            placeholder="Email" required>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-3">
            <input class="form-control" type="password" name="password"
            id="password" / placeholder="Password" required>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-3">
            <input class="form-control" type="password" name="re_password"
            id="re_password" / placeholder="Re-enter Password" required>
          </div>
        </div>
        <div class="row">
          <div class="col signin-prompt">
            <input type="checkbox" name="agreement" id="check" / required>
            <label for="agreement" id="">
              Agree to <a href="/T&C/" id="tc"> Terms and Conditions </a>
            </label>
          </div>
        </div>
      </form>
      <div class="row justify-content-center">
        <button
          type="submit"
          form="signup-form"
          class="btn btn-dark btn-signup"
          id="signup-btn"
          disabled
        >
          Sign Up
        </button>
      </div>
      <div class="row my-2">
        <div class="col signin-prompt">
          Already have an account? <a href="/signin/">Sign In!</a>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/d7dc8983c1.js"
      crossorigin="anonymous"
    ></script>

    <script src="{% static 'js/signup.js' %}"></script>
  </body>
</html>
